<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
     <!-- <link href="/CSS/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="../CSS/styles.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

    <link href="/CSS/bootstrap.css" type="text/css" rel="stylesheet">
   <link href="../CSS/styles.css" type="text/css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </head>

  <body class="body">
{{{body}}}
    <!-- <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Nelisa Spaza Shop</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="./homepage.handlebars">Home</a></li>
          <li><a href="./aboutus.handlebars">About Us</a></li>
          <li><a href="./statistics.handlebars">Statistics</a></li>

        </ul>
      </div>
    </nav>


<div class="main-div">

     <h1 id="heading"> You can find your statistics for each week here: </h1>
    <div id="linkInfo">
      <ol>
        <h2> The statistics contains:
        </h2>
        <li> The {{mostPopularProducts}} for each week. </li>
          <li> The {{leastPopularProducts}} for each week. </li>
          <li> The {{mostPopularCategorys}} for each week. </li>
          <li> The {{leastPopularCategorys}} for each week. </li>
          <li> The {{mostProfitableProducts}} for each week. </li>
          <li> The {{mostProfitableCategorys}} for each week. </li>
      </ol>
      <h3> Find each weeks statistics below </h3>
    </div> -->
      <!-- <div id ="links"> -->

        <!-- <div id="dropdownbox" class="btn-group">
      <ul> -->
         <!-- <a href="./homepage.handlebars" class="btn btn-info" role="button">Home</a>   -->
         <!-- <a href="./week1.handlebars" class="btn-info" role="button">Week 1</a>
        <a href="./week2.handlebars" class="btn-info" role="button">Week 2</a>
        <a href="./week3.handlebars" class="btn-info" role="button">Week 3</a>
        <a href="./week4.handlebars" class="btn-info" role="button">Week 4</a>



    </ul>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="../public/JS/bootstrap.js"></script> -->
  </body>

</html>
